.main-layout{
    min-height: 1080px;
}

.two-column-layout{
    min-height: 1080px;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 250px;
    background-color: var(--bg-primary);
    padding: 20px;
    box-shadow: inset -20px 0px 30px -30px var(--text-primary);
    & .logo{
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        & img{
            width: 70%;
            height: auto;

        }
    }
    & nav{
        & ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            & li{
                & a{
                    color: var(--text-primary);
                    text-decoration: none;
                    font-size: var(--fs-18);
                    transition: color 0.3s ease;
                    &:hover{
                        color: var(--text-third);
                    }
                    &.active{
                        color: var(--text-third);
                    }
                }
            }
        }
    }
}

.content{
    flex-grow: 1;
}

header{
    background-color: var(--bg-primary);
    padding-block: 20px;
    & .header-inner{
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: end;
    }
}

.content-outer{
    background-color: var(--bg-primary);
}

.content-inner{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.toggle-theme-button{
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 25px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    &:hover{
        color: var(--text-third);
    }
}

/* HOME */

.home-container{
    & h1{
        margin-bottom: 40px;
        font-size: var(--fs-45);
        font-weight: 500;
    }
}

.race-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.race-item{
    position: relative;
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    &.ended{
        opacity: 0.6;
    }
    & strong{
        display: block;
        font-size: var(--fs-20);
        color: var(--text-secondary);
        margin-bottom: 15px;
    }
    & .race-date{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: var(--bg-third);
        color: var(--text-primary);
        padding: 10px 20px;
        border-radius: 0 0 0 8px;
        width: 100%;
        max-width: 150px;
        & span{
            display:block;
            text-align: center;
            font-size: var(--fs-16);
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
        }
    }
    & h2{
        font-size: var(--fs-30);
        margin-bottom: 10px;
        color: var(--text-secondary);
    }
    & p{
        font-size: var(--fs-18);
        color: var(--text-secondary);
    }
}

.next-race-container{
    margin-bottom: 50px;
}

.timer-container{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--bg-third);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    max-width: 500px;
    & span{
        color: #fff;
        font-size: var(--fs-22);
    }
}

/* STANDINGS */

.standings-container-inner{
    display: flex;
    gap: 20px;
}

.drivers-standings{
    flex-basis: 48%;
    & h2{
        font-size: var(--fs-34);
        margin-bottom: 20px;
    }
}

.driver-standing-row{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--border-primary);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.constructor-standing-row{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--border-primary);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.constructors-standings{
    flex-basis: 48%;
    & h2{
        font-size: var(--fs-34);
        margin-bottom: 20px;
    }
}
