:root{
    --bg-primary: #1e1e1e;
    --bg-secondary: #fff;
    --bg-third:#ef0808;
    --text-primary: #fff;
    --text-secondary: #1e1e1e;
    --text-third: #ef0808;
    --border-primary: #fff;

    --mercedes: #6cd3bf;
    --red_bull: #1e41ff;
    --ferrari: #ef0808;
    --mclaren: #ff8700;
    --alpine: #0090ff;
    --aston_martin: #006f62;
    --haas: #b6babd;
    --cadillac: #aaaaad;
    --rb: #1e41ff;
    --williams: #005aff;
    --audi: #ff2d00;


    --fs-16: clamp(14px, 1.5vw, 16px);
    --fs-18: clamp(16px, 1.5vw, 18px);
    --fs-20: clamp(18px, 2vw, 20px);
    --fs-22: clamp(20px, 2vw, 22px);
    --fs-24: clamp(22px, 2vw, 24px);
    --fs-30: clamp(28px, 3vw, 30px);
    --fs-34: clamp(32px, 3vw, 34px);
    --fs-45: clamp(40px, 3vw, 45px);
}

.light-theme {
    --bg-primary: #fff;
    --bg-secondary: #1e1e1e;
    --bg-third: #ef0808;
    --text-primary: #1e1e1e;
    --text-secondary: #fff;
    --text-third: #ef0808;
    --border-primary: #1e1e1e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', sans-serif;;
}

p, h1, h2, h3, h4, h5, h6, span, strong, a{
    color: var(--text-primary);
    &.mercedes{
        color: var(--mercedes);
    }
    &.red_bull{
        color: var(--red_bull);
    }
    &.ferrari{
        color: var(--ferrari);
    }
    &.mclaren{
        color: var(--mclaren);
    }
    &.alpine{
        color: var(--alpine);
    }
    &.aston_martin{
        color: var(--aston_martin);
    }
    &.haas{
        color: var(--haas);
    }
    &.cadillac{
        color: var(--cadillac);
    }
    &.rb{
        color: var(--rb);
    }
    &.williams{
        color: var(--williams);
    }
    &.audi{
        color: var(--audi);
    }
}

ul{
    list-style: none;
    padding: 0;
}